<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>中小学智慧教学管理系统</title>
    <link rel="stylesheet" href="/js/layui/css/layui.css">
    <link rel="stylesheet" href="/css/head.css">
    <link rel="stylesheet" href="/css/index.css">
    <style type="text/css">
        .layui-this > nav {
            background-color: #f581a4 !important;
        }
    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header layui-bg-blue">
        <a href="/">
            <div class="layui-logo layui-hide-xs layui-bg-blue">中小学智慧教学管理系统</div>
        </a>
        <ul class="layui-nav layui-layout-left layui-bg-blue" id="headBar"></ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block" style="margin-right: 20px">
                <a href="javascript:;"><span id="realName"></span></a>
                <dl class="layui-nav-child">
                    <dd><a href="personal">个人中心</a></dd>
                    <dd><a href="javascript:void(0)" id="out">注销</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-body" style="background: #F2F4F7;">
            <div class="layui-container" style="height: 100%">
                <div class="layui-row" style="text-align: center;height: 100%">
                    <div class="layui-col-md9" style="padding-right: 50px" id="courseDiv">
                        <h1 id="courseClass"></h1>
                        <table id="course"></table>
                    </div>
                    <div class="layui-col-md3" style="height: 45%">
                        <div style="height: 100%;background: #fff;" >
                            <div class="notices-title">
                                <div class="gg">通知消息</div>
                                <a href="javascript:;" id="moreNotice" >更多</a>
                            </div>
                            <ul style="margin:0 10px;text-align: left" class="notice" id="noticeList">
                            </ul>
                        </div>
                    </div>
                    <div class="layui-col-md9" style="padding-right: 50px" id="examDiv">
                        <h1 id="examClass"></h1>
                        <table id="exam"></table>
                    </div>
                    <div class="layui-col-md3" style="height: 45%">
                        <div style="height: 100%;background: #fff;" >
                            <div class="notices-title">
                                <div class="gg">作业</div>
                            </div>
                            <ul style="margin:0 10px;text-align: left" class="notice" id="workList">
                                <li>
                                    <span class="pointer"></span>
                                    <span style="padding-left:20px;cursor: pointer;">寒假生活一本</span>
                                    <p>2022-02-26 10:56:22</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>

    </div>
</div>
<div class="noticeOpen" style="display: none;padding: 20px;">
    <div style="display: flex; flex-direction: column;" class='not_xj'>
        <div style="border-bottom: #e9e9e9 solid 1px;">
            <p id="title" style="text-align: center;padding-bottom: 10px;font-size: 26px;"></p>
            <p>
                <span style="color: #999999;padding: 10px;font-size: 16px;"><label>创建时间：</label><span id="noticeTime"></span></span>
            </p>
        </div>
        <div style="padding: 10px;">
            <div style="padding-bottom: 100px; font-size: 18px;">
                <p id="content"></p>
            </div>
        </div>
    </div>
</div>
<script src="/js/layui/layui.js"></script>
<script src="/js/head.js"></script>
<script src="/js/index.js"></script>
</body>
</html>
