.layui-nav-bar{
 display: none;
}
.layui-this > nav {
    background-color: #f581a4 !important;
}
.layui-layout-admin .layui-logo{
    box-shadow:none
}

.layui-body{
    padding-bottom: 0;
    position-left:0;
    left: 0;
}
