.tbb{
    border-collapse: collapse;
    width: 800px;
    margin: auto;
}
.tbb td{
    border: 1px solid #333;
}
tr{
    height:150px;
}
button{
    margin-top: 50px;
}
img{
    width: 150px;
    margin: 10px;
}
