<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xwc.teach.exam.dao.ExamDao" >
    <insert id="examAdd">
        insert into exam_info(name,start_time,end_time,subject,grade,sclass,teacher_id,radio_list,tell_list,text_list,sum)
        values(#{name},#{startTime},#{endTime},#{subject},#{grade},#{sclass},#{teacherId},#{radioList},#{tellList},#{textList},#{sum})
    </insert>
    <update id="examUpd">
        update exam_info
        set title = #{title},
        index = #{index}
        where id = #{id}
    </update>
    <delete id="examDel">
        delete from exam_info where id = #{id}
    </delete>

    <select id="selectAll" resultType="com.xwc.teach.exam.entity.Exam">
      select * from exam_info where teacher_id = #{teacherId}
    </select>
    <select id="examInfo" resultType="com.xwc.teach.exam.entity.Exam">
        select * from exam_info where id = #{id}
    </select>
    <select id="examListStu" resultType="com.xwc.teach.exam.entity.Exam">
        select * from exam_info where grade = #{grade} and sclass = #{sclass}
    </select>
    <select id="scoreList" resultType="com.xwc.teach.exam.entity.Score">
        select s.stu_id as stuId,u.real_name as stuName,e.score from exam_score e
        left join student s on e.stu_id = s.id
        left join user u on s.user_id = u.id
        where exam_id = #{id}
    </select>


</mapper>
