<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xwc.teach.exam.dao.ExamDao" >
    <insert id="examAdd">
        insert into exam_info(name,start_time,end_time,subject,grade,sclass,teacher_id,radio_list,tell_list,text_list,sum,radio_score,tell_score,text_score)
        values(#{name},#{startTime},#{endTime},#{subject},#{grade},#{sclass},#{teacherId},#{radioList},#{tellList},#{textList},#{sum},#{radioScore},#{tellScore},#{textScore})
    </insert>
    <update id="examUpd">
        update exam_info
        set title = #{title},
        index = #{index}
        where id = #{id}
    </update>
    <insert id="setScore">
        insert into exam_score (stu_id,exam_id,score)
        values (#{stuId},#{examId},#{score})
    </insert>
    <delete id="examDel">
        delete from exam_info where id = #{id}
    </delete>

    <select id="selectAll" resultType="com.xwc.teach.exam.entity.Exam">
      select * from exam_info where teacher_id = #{teacherId}
    </select>
    <select id="examInfo" resultType="com.xwc.teach.exam.entity.Exam">
        select * from exam_info where id = #{id}
    </select>
    <select id="examListStu" resultType="com.xwc.teach.exam.entity.Exam">
        select i.* from exam_info i
        left join exam_score s on i.id = s.exam_id
        where grade = #{grade} and sclass = #{sclass}
    </select>
    <select id="scoreList" resultType="com.xwc.teach.exam.entity.Score">
        select s.stu_id as stuId,u.real_name as stuName,e.score from exam_score e
        left join student s on e.stu_id = s.id
        left join user u on s.user_id = u.id
        where exam_id = #{id}
    </select>
    <select id="checkExam" resultType="java.lang.Integer">
        select count(*) from exam_score where stu_id = #{stuId}
        and exam_id = #{examId}
    </select>
    <select id="myScoreList" resultType="com.xwc.teach.exam.entity.Score">
        select i.subject as examSub,i.name as examName,e.score from exam_score e
        left join exam_info i on i.id = e.exam_id
        <where>
            and e.stu_id = #{stuId}
            <if test="subject != null and subject !=''">
                and i.subject like concat('%',#{subject},'%')
            </if>
        </where>
    </select>


</mapper>
