<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xwc.teach.index.dao.NoticeDao" >
    <insert id="noticeAdd">
        insert into notice(title,content,create_time)
        values(#{title},#{content},#{createTime})
    </insert>
    <update id="noticeUpd">
        update notice
        set title = #{title},
        content = #{content}
        where id = #{id}
    </update>
    <delete id="noticeDel">
        delete from notice where id = #{id}
    </delete>

    <select id="selectAll" resultType="com.xwc.teach.index.entity.Notice">
      select * from notice
        order by create_time asc
      <if test="limit != null and limit !=''">
          limit ${limit}
      </if>

    </select>
    <select id="noticeInfo" resultType="com.xwc.teach.index.entity.Notice">
        select * from notice where id = #{id}
    </select>


</mapper>
