<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xwc.teach.exam.dao.QuestionDao" >
    <insert id="questionAdd">
        insert into exam_question(subject,title,answer1,answer2,answer3,answer4,answer,answer_info)
        values(#{subject},#{title},#{answer1},#{answer2},#{answer3},#{answer4},#{answer},#{answerInfo})
    </insert>
    <update id="questionUpd">
        update exam_question
        set
        title = #{title},
        answer1 = #{answer1},
        answer2 = #{answer2},
        answer3 = #{answer3},
        answer4 = #{answer4},
        answer = #{answer},
        answer_info = #{answerInfo}
        where id = #{id}
    </update>
    <delete id="questionDel">
        delete from exam_question where id = #{id}
    </delete>

    <select id="selectAll" resultType="com.xwc.teach.exam.entity.Question">
      select * from exam_question where subject = #{subject}
        <if test="search != null and search !=''">
            and title like concat('%',#{search},'%')
        </if>
    </select>
    <select id="questionInfo" resultType="com.xwc.teach.exam.entity.Question">
        select * from exam_question where id = #{id}
    </select>


</mapper>
